
*{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
max-width: 90%;
background-image: url('../Assets/Background/v-de-leon-hehe.jpg');
background-repeat: no-repeat;
background-position: left top;
background-size:135%;
background-position-y: 2rem;
}


/* Navigation Bar */
.char_nav{
    background-color: rgb(15, 26, 53);
    padding-left: 5%;
    padding-right: 5%; 
    width: 101.1%;
    top : 0;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.char_nav_div{
display: flex;
align-items: center;
justify-content:first baseline;
}
.tal_logo{
    height: 45px;
    position: relative;
    left: 8%;
}

nav li{
    display: inline-block;
}
nav li a{
    color: rgb(240, 213, 40);
    font-family: 'Crimson Pro', serif;
    font-size: 15px;   
    position: relative;
    left: 50%;
    margin-left: 45px;
    margin-right: 50px;
}
nav li a:hover{
    color: rgb(255, 250, 90);
    font-family: 'Crimson Pro', serif;
    font-size: 16px;   
    position: relative;
    left: 50%;
    margin-left: 45px;
    margin-right: 50px;
    text-shadow: 0 0 5px rgb(255, 250, 90);
    text-decoration: underline;
    transition: all 0.6s ease;
}

nav li:first-child{
    margin-right: 10px;
}