input {
    display: none;
}

p {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: inherit;      
    text-decoration: none; 
}


body {
     margin: 0;
    padding: 0;
    background-image: url('../Assets/images/v-de-leon-hehe.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
    background-size: cover;
    background-position-y: 2rem;
    overflow: none;
}

/* Header style */

.char_nav{
    background-color: rgb(15, 26, 53);
    padding-left: 5%;
    padding-right: 5%; 
    width: 201.1%;
    top : 0;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.char_nav_div{
display: flex;
align-items: center;
justify-content:first baseline;
}
.tal_logo{
    height: 45px;
    position: relative;
    left: 8%;
}

nav li{
    display: inline-block;
}
nav li a{
    color: rgb(240, 213, 40);
    font-family: 'Crimson Pro', serif;
    font-size: 15px;   
    padding: 10px 10px 10px;
    position: relative;
    left: 40%;
    margin-left: 30px;
    margin-right: 40px;
}
nav li a:hover{
    color: rgb(15, 26, 53);
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    padding: 10px 10px 10px;   
    position: relative;
    left: 40%;
    margin-left: 30px;
    margin-right: 40px;
    border-radius: 50px;
    text-shadow: 0 0 5px rgb(255, 250, 90);
    background-color: rgba(255, 250, 90);
    transition: all 0.6s ease;
}

nav li:first-child{
    margin-right: 10px;
}

.sidebar{
    position: absolute;
    top: -2%;
    right: 0;
    height: 50%;
    width: 180px;
    z-index: 9999;
    background-color: rgba(19, 50, 121, 0.164);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    position:relative;
    right: 30%;
    width: 110%;
padding: 5%;
    text-align: right;
}

.noSidebar{
    position: absolute;
    right: 5%; 
    top: 1%;
}
@media(max-width: 1160px){
   .hideOnMobile{
    display: none;
   }
}
@media(min-width: 1159px){
    .noSidebar{
        display: none;
    }
}



.GalleryTitle {
    color: #EFD844;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 80px;
    width: 100%;
    font-weight: bold;
    margin: 60px 50px;
    font-family: 'Starlight Rune - Personal Use';
    font-style: normal;
    font-weight: 400;
    src: local('Starlight Rune - Personal Use'), url('https://fonts.cdnfonts.com/s/118806/Yudi-YqPny.woff') format('woff');
}

/* Gallery Page */

.GalleryContainer {
    width: 1400px;
    text-align: center;
   

}

.top-content {
    background-color: #0F1A35;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
}

.top-content-title {
    height: 100%;
    background-color: #152859;
    line-height: 60px;
    padding: 0 50px;
    color: #D3B14D;
}

label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 16px;
    color: #D3B14D;
    cursor: pointer;
    transition: .5s;
}

label:hover {
    text-decoration: underline;
}

.image-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.pic {
    position: relative;
    height: 230px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* dark overlay */
.pic::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.3s;
}

/* text */
.pic::before {
    content: "View";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

/* hover */
.pic:hover::after {
    opacity: 1;
     pointer-events: none;
}

.pic:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%);
     pointer-events: none;
}


/* filters */


/* show chapter 1 */

/* ===== SHOW ALL ===== */
#checkall:checked ~ .image-gallery .pic {
    display: block;
}

/* ===== FILTER 1 ===== */
#check1:checked ~ .image-gallery .pic {
    display: none;
}

#check1:checked ~ .image-gallery .filter1 {
    display: block;
}

/* ===== FILTER 2 ===== */
#check2:checked ~ .image-gallery .pic {
    display: none;
}

#check2:checked ~ .image-gallery .filter2 {
    display: block;
}

/* ===== FILTER 3 ===== */
#check3:checked ~ .image-gallery .pic {
    display: none;
}

#check3:checked ~ .image-gallery .filter3 {
    display: block;
}


/* ===== FILTER 4 ===== */
#check4:checked ~ .image-gallery .pic {
    display: none;
}

#check4:checked ~ .image-gallery .filter4 {
    display: block;
}

/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

/* ACTIVE STATE */
.popup.show {
    opacity: 1;
    visibility: visible;
}

/* IMAGE */
.popup img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    transform: scale(0.8);
    transition: 0.3s;
}

.popup.show img {
    transform: scale(1);
}

/* CLOSE BUTTON */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}