
/*general*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
  
}

p {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: inherit;      
    text-decoration: none; 
}

html {
    scroll-behavior: smooth;
}


/* Navigation Bar */
.char_nav{
    background-color: rgb(15, 26, 53);
    padding-left: 5%;
    padding-right: 5%; 
    width: 101.1%;
    top : 0;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.char_nav_div{
display: flex;
align-items: center;
justify-content:first baseline;
}
.tal_logo{
    height: 45px;
    position: relative;
    left: 8%;
}

nav li{
    display: inline-block;
}
nav li a{
    color: rgb(240, 213, 40);
    font-family: 'Crimson Pro', serif;
    font-size: 15px;   
    padding: 10px 10px 10px;
    position: relative;
    left: 40%;
    margin-left: 30px;
    margin-right: 40px;
}
nav li a:hover{
    color: rgb(15, 26, 53);
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    padding: 10px 10px 10px;   
    position: relative;
    left: 40%;
    margin-left: 30px;
    margin-right: 40px;
    border-radius: 50px;
    text-shadow: 0 0 5px rgb(255, 250, 90);
    background-color: rgba(255, 250, 90);
    transition: all 0.6s ease;
}

nav li:first-child{
    margin-right: 10px;
}
.sidebar{
    position: absolute;
    top: -2%;
    right: 0;
    height: 50%;
    width: 180px;
    z-index: 9999;
    background-color: rgba(19, 50, 121, 0.164);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    position:relative;
    right: 30%;
    width: 90%;

    text-align: right;

    
    width: 110%;
    padding: 10px 5px;
    text-align: right;

    list-style: none;

}

.noSidebar{
    position: absolute;
    right: 5%; 
    top: 1%;
}
@media(max-width: 1160px){
   .hideOnMobile{
    display: none;
   }
}
@media(min-width: 1159px){
    .noSidebar{
        display: none;
    }
}

/* Header style 
.logoBar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1A35;
}

.logoBar {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;
}

.navigationBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #0F1A35;
}

.WebBar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D3B14D;
    font-size: 20px;
    background-color: #0F1A35;
    transition: 0.8s;
    cursor: pointer;
}

.WebBar:hover p {
    text-decoration: underline;
   
}


@media(max-width: 1160px){
    .navigationBar {
        display: block;
        height: 110px;
    }
   .WebBar {
     opacity: 0;
     display: none;
   }

   .logoBar {
    width: 200px;
    height: auto;
   }


}
*/


/* homepage center style */

.HomepageCenter {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.picture.active {
    opacity: 1;
}

.gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}

/* Background section */

.getStarted {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 100px;
}

    /*SLOGAN TEXT */
    /*     |      */
    /*     |      */
    /*     V      */
.slogan {
    z-index: 100;
    font-size: 64px;
    color: #D3B14D;
    margin-bottom: 20px;
    text-align: center;


    text-shadow: 2px 2px 4px #000;
}


.talaya {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* introduction page style */
.HomepageIntroduction {
    padding: 20px;
}

.ContentTitle, .content {
    color: #D3B14D;  
    font-size: 48px; 
    font-weight: bold;
}

.content {
    font-size: 28px; 
}

.BlackColorContentitle {
    color: black;
}
