
.btnContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GotoPagebtn {
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #AD3F26;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transition: 0.5s;
}

.GotoPagebtn:hover {
    background-color: white;
    color: #AD3F26;
}

/*Character Page*/

.HomepageCharacter {    
    padding: 20px;
    height: 800px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../Assets/images/v-de-leon-panime.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.characterPreview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    row-gap: 10px;
    margin-bottom: 100px;
}

.characterContainer {
    width: 300px;
    height: 500px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background-color: #D3B14D;
    
}

/*Plot Page*/

.HomepagePlot {
    padding: 20px;
    height: 100%;
    background-image:
        url('../Assets/images/white=grid-patterns.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PlotPreview {
    display: grid;
    grid-template-columns: 500px 1fr;
    
}

.PlotPicture img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

@media(max-width: 1160px){
   .PlotPicture{
    display: none;
   }
   .PlotPreview {
    display: grid;
    grid-template-columns: 1fr;
    
    }
}

.PlotSummary {
    font-weight: bold;
    font-size: 24px;
}

/* Setting Page */

.HomepageSetting {
    padding: 20px;
    height: 100%;
    background-color: #04305D;
    z-index: 1;
}

.settingPreview {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: scroll;
    margin-bottom: 70px;
}

/* Scrollbar*/
.settingPreview::-webkit-scrollbar {
    height: 10px;
}

.settingPreview::-webkit-scrollbar-track {
    background: #0F1A35;
    border-radius: 20px;
}
.settingPreview::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}
.settingPreview::-webkit-scrollbar-thumb:hover {
    background: #D2B04D;
}
/* Scrollbar*/

.settingContainer {
    width: 550px;
    height: 350px;
    border-top-right-radius: 50px;
    background-color: #D9D9D9;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
   
}

/* Music */

.HomepageMusic {
    padding: 20px;
    height: 100%;
}

.musicPreview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.musicContainer {
    background-color: #D9D9D9;
    width: 300px;
    height: 300px;
   
}

/* Gallery */

.HomepageGallery {
    padding: 20px;
    height: 100%;
    background-color: #7BABDC;
}

.galleryPreview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.galleryContainer {
    background-color: #D9D9D9;
    width: 300px;
    height: 500px;
}  

/* Ending */

.HomepageEnding {
    padding: 20px;
    height: 100%;
}

.endingPreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 420px;
    border: solid black;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;

    perspective: 1000px;
}

.endingContainer {
    width: 250px;
    height: 350px;
    border: solid black;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.frontcard, .backcard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.frontcard {
    background-color: #04305D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #D2B04D;
    transform: rotateY(0deg);
}

.backcard {
    background-color: #D2B04D;
    color: #04305D;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.backcard img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.card1:hover {
    transform: rotateY(180deg);
}

.card1.flipped:hover {
    transform: rotateY(0deg);
}

.card1:hover {
    transform: rotateY(180deg);
}

.card2:hover {
    transform: rotateY(180deg);
}

.card3:hover {
    transform: rotateY(180deg);
}
/* About Us  */

.HomepageAboutus {
    padding: 20px;
    height: 600px;
    background-color: #7CADDF;
}

.aboutUsPreview {
    border: solid;
    border-color: #D3B14D;
    height: 300px;
    margin-bottom: 100px;
}


/* Homepagewith stars bacgorunds */


@keyframes starsMove {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-300px);
    }
}


.HomepageSetting, 
.HomepageAboutus,
.HomepageGallery,
.HomepageIntroduction {
    position: relative;
    overflow: hidden;

    padding: 20px;

    background:
    linear-gradient(
        to bottom,
        rgb(5, 10, 30),
        rgb(10, 25, 70)
    );
}

.starsbackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 200%;
    height: 200%;


    inset: 0;
    pointer-events: none; 
    z-index: 0;

     background-image:
        radial-gradient(2px 2px at 10px 20px, rgba(255,255,255,0.95), transparent),
        radial-gradient(1.5px 1.5px at 60px 80px, rgba(255,255,255,0.85), transparent),
        radial-gradient(2px 2px at 120px 40px, rgba(200,220,255,0.85), transparent),
        radial-gradient(1px 1px at 180px 140px, rgba(255,255,255,0.8), transparent),
        radial-gradient(2px 2px at 240px 90px, rgba(255,255,255,0.85), transparent),
        radial-gradient(1.5px 1.5px at 300px 200px, rgba(180,210,255,0.85), transparent),
        radial-gradient(2px 2px at 360px 60px, rgba(255,255,255,0.9), transparent),
        radial-gradient(1px 1px at 420px 180px, rgba(255,255,255,0.8), transparent),
        radial-gradient(2px 2px at 480px 120px, rgba(150,180,255,0.8), transparent),
        radial-gradient(1.5px 1.5px at 540px 30px, rgba(255,255,255,0.95), transparent),
        radial-gradient(2px 2px at 600px 220px, rgba(255,255,255,0.85), transparent),
        radial-gradient(1px 1px at 660px 100px, rgba(200,230,255,0.9), transparent),
        radial-gradient(2px 2px at 720px 160px, rgba(255,255,255,0.8), transparent),
        radial-gradient(1.5px 1.5px at 780px 60px, rgba(255,255,255,0.8), transparent),
        url("../Assets/Background/stars.png");

    background-size: 800px 400px;
    background-repeat: repeat;

    opacity: 1;

    filter:
        drop-shadow(0 0 2px rgba(255,255,255,0.25))
        drop-shadow(0 0 4px rgba(120,180,255,0.2));

    animation: starsMove 12s linear infinite;
}

/*HomepageFooter Sa wakas */

.HomepageFooter {
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 5px;
}

.footerPreview {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
}

@media(max-width: 1160px){
   .footerPreview {
    grid-template-columns: 1fr;
    }
}

.logoContainer {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLinks, 
.footerChanelogandFaq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 5px;
}

.footerLinks p {
    margin: 0px 0px;
}


/*fade in animation*/


.slogan {
    animation: fadeIn 1s ease;
}


.getStartedbtn {
    animation: fadeIn 1s ease;
} 

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* 

tarot card

*/


