html {
    max-width: 1440px;
    margin: auto;
}

body {
    background-color: #01182e;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.Front{
    z-index: 3;
}

#subLogo{
    font-family: 'Crimson Pro', serif;
    color: #D3B14D;
    font-size: 18pt;
    text-align: center;
}

h3 {
    font-family:'Crimson Pro', serif;
    color: #D3B14D;
    text-align: center;
}

#textInCons, #textAboveButton{
    font-size: 16pt;
}

#textAboveButton, #textInCons, #textScroll {
    margin-top: 600px
}


.button {
    font-family: 'Crimson Pro', serif;
    background-color: #AD3F26;
    color: #D3B14D;
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    margin: 10px;
    border: none;
    margin-bottom: 290px;
    
}

.button:hover {
    background-color: #D3B14D;
    color: #AD3F26;
    transition: background-color 1s ease, color 1s ease, transform 1s ease;
    transform: scale(1.05);
}

#Logo {
    display: grid;
    place-items: center;
    margin-top: 150px;
}

@keyframes moveTwinkling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

#stars, #twinkling {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;

}

#twinkling {
    background: transparent url(../Assets/Background/twinkling.png) repeat top center;
    z-index: 1;
    animation: moveTwinkling 100s linear infinite;
}

#stars {
    background: transparent url(../Assets/Background/stars.png) repeat top center;
    z-index: 0;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.Front {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* animation for cards to appear from the side */
@keyframes appearFromSide {
    from {
        opacity: 0;
        transform: translateX(var(--start-x)) rotate(var(--start-rot));
    }
    to {
        opacity: 1;
        transform: translateX(var(--end-x)) rotate(var(--end-rot));
    }
}

.tarotAsset > img {
    z-index: 4;
    height: 200px;
    width: auto;
}



#theMoon{
    position: absolute;
    top: 1630px;
    --start-x: -1000%;
    --end-x: -300%;
    --start-rot: -180deg;
    --end-rot: 15deg;
    animation: appearFromSide forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 55%;
}

#theSun{
    position: absolute;
    top: 1670px;
    --start-x: 1000%;
    --end-x: 200%;
    --start-rot: 200deg;
    --end-rot: -15deg;
    animation: appearFromSide forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

#theTower{
    position: absolute;
    top: 1600px;
    --start-x: 1000%;
    --end-x: 270%;
    --start-rot: -300deg;
    --end-rot: -30deg;
    animation: appearFromSide forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

#theHermitRev {
    position: absolute;
    top: 1550px;
    --start-x: -1000%;
    --end-x: -390%;
    --start-rot: 300deg;
    --end-rot: 30deg;
    animation: appearFromSide forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

