/* Style for the body*/
body{
    font-family: Ariel, sans-serif; /* Temporay Font*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    font-weight: bold;
}
/* The border around the game*/
.container{
    background-color: white;
    border-radius: 10px;
    padding: 120px;
    margin-top: 10px;
    text-align: center;
}

/*MArgins for the button*/
.choices{
    margin-bottom: 30px;
    
}

/* styles for the button*/
.choices button{
    font-size: 50px;
    min-width: 10px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* style for hovering the button*/
.choices button:hover{
    background-color: rgb(199, 198, 198);
}

/* for displaying the choices of PLAYER and COMPUTER*/
.display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    font-size: larger;
}


/* for displaying of RESULT*/
#gameResult{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 15px 0;
}