/* Style for the body*/
body{
    margin: 0;
    font-family: arial, sans-serif; /*Temporary Font*/
    text-align: center;
}

h3{
    margin-top: 20px;
    text-align: center;
}
/*MArgins for the button*/
.choices{
    margin-bottom: 30px;
}

.scoreBoard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-style: bold;
    font-size: 20px;
    margin: 28px;
    font-weight: bold;
}


/* styles for the button*/
.choices button{
    gap: 20px;
    margin: 15px 10px;;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* style for hovering the button*/
.choices button:hover{
    background-color: rgb(199, 198, 198);
}

/* for displaying the choices of PLAYER and COMPUTER*/
.display{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: larger;
    margin: 50px 0;
}


/* for displaying of RESULT*/
#gameResult{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold
}

